.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #fff;
  border-radius: var(--box-border-radius);
  padding: var(--box-padding);
}

.box hr {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--border-color);
}

.boxTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}

.boxTitle > h1 {
  margin: 0;
}

.boxTitle > img {
  width: 1.5rem;
  hight: 1.5rem;
  object-fit: contain;
  cursor: pointer;
}

.boxTitle > img:hover {
  opacity: 0.7;
}
